<div id = "money_page">
	<div id = "searchbox">
	<h1>Search for Political Contributions</h1>
	<p>To search for the total dollar amount that was contributed to a politician during the 
		last election cycle, please enter his or her first and last names in the boxes below. You must spell the name correctly.</p>	
		<%= form_tag("/main/money", method: "post") do %>
		  <%= label_tag(:first_name, "Please enter the politician's first name:") %>
		  <br />
		  <%= text_field_tag(:first_name) %>
		  <br />
		  <%= label_tag(:last_name, "Please enter the politician's last name:") %>
		  <br />
		  <%= text_field_tag(:last_name) %>
		  <br />
		  <br />
		  <%= submit_tag("Submit") %>
		<% end %>
		<br />
	
	<% if @politician == "Enter a politician's name." %>
		<p><%= @politician %></p>
	<% else %>
		<p><%= @politician[0]["name"] %></p>
		<p><%= "$" + @politician[0]["total_received"].to_s %></p>
	<% end %>
		
	<br />

	<%= link_to "Clear", main_money_path, method: "post" %>
	</div>
</div>